<!--Autor: Raul Hernandez Lopez @NEO
    correo: freeenergy1975@gmail.com
    fecha:  18 de Agosto del 2022-->
    
<!DOCTYPE html>

<html>
    <head>
        <title>Reportes Lynx</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="styles/style_graficas.css"/>
    </head>
    <body>
        <section class="content">    
            <h2>Niveles de satisfaccion</h2>
	    <canvas id="miGrafica" class="grafica">
            </canvas>
        </section>
        <script src="./JS/chart.min.js"></script>
        <script src="./JS/Graficas.js" type="module"></script>
    </body>
</html>    
