<!-- 
	Name: Raul Hernandez Lopez @Neo
	email: freeenergy1975@gmail.com
	date: 26 Jul 2023
-->

<!DOCTYPE html>
<html>
	<head>
		<title>satisfaction system</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial scale=1.0"/>
		<meta charset=utf-8/>
		<link rel="stylesheet" href="{{ url_for('static' , filename='styles/style_login.css') }}">
	</head>
	<body>
		<nav class="menu">			
			<a href="">inicio</a>
			<a href="">Home</a>
      </nav>
